<div class="container">
    <div>
        <h1 *ngIf="!doesCurrentIpExist && !isLoading">Tão Cedo Passa Tudo Quanto Passa</h1>

        <p *ngIf="doesCurrentIpExist && !isLoading">Tão cedo passa tudo quanto passa!</p>

        <ng-container *ngIf="!doesCurrentIpExist && !isLoading">
            <p>Morre tão jovem ante os deuses quanto</p>
            <p>Morre! Tudo é tão pouco!</p>
            <p>Nada se sabe, tudo se imagina.</p>
            <p>Circunda-te de rosas, ama, bebe</p>
            <p>E cala. O mais é nada.</p>

            <br />

            <strong><p >Ricardo Reis, in "Odes"</p></strong>
            <strong><p>Heterónimo de Fernando Pessoa</p></strong>
        </ng-container>
    </div>
</div>